# Dependencies
node_modules
.pnp
.pnp.js

# Build Outputs
.next/
out/
build
dist

# Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem
